<div class="navbar-lewagon">
  <div class="navbar-content">
    <h1>Otaku Collection</h1>
    <p>Oh no what have I done</p>
  </div>
  <div class="navbar-links">
    <%= link_to root_path do %>
      <button class="btn btn-secondary shadow">See all the nerds!</button>
    <% end %>
    <%= link_to new_otaku_path do %>
      <button class="btn btn-warning shadow">Enter New Nerd</button>
    <% end %>
  </div>
</div>