<h1>
  <%= @otaku.name %>
  <%= link_to edit_otaku_path(@otaku) do %>
    <i class="fas fa-edit"></i>
  <% end %>
</h1>
<h2>Current Figs</h2>
<ul>
  <% @otaku.otaku_figs.each do |fig| %>
  <!--<li><#%= fig.character %> (<#%= fig.series %>)</li>-->
  <%= fig %>
  <% end %>
</ul>
<h3><%= link_to "Add a fig",  new_otaku_otaku_fig_path(@otaku) %></h3>
